In [1]:
import sqlite3
conn = sqlite3.connect('lending-club-loan-data/database.sqlite')
c = conn.cursor()

In [2]:
import pandas as pd
import numpy as np

## only select rows that are fully funded and are individual loans (no joint loans)
data=pd.read_sql('''
SELECT *
FROM loan
WHERE funded_amnt==loan_amnt AND (application_type LIKE '%INDIVIDUAL%') AND term LIKE '%36 months%'
''',conn)

In [3]:
data.drop(['index'],axis=1)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1075269,1311441.0,5000.0,5000.0,5000.0,36 months,7.90%,156.46,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1072053,1288686.0,3000.0,3000.0,3000.0,36 months,18.64%,109.43,E,E1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1069908,1305008.0,12000.0,12000.0,12000.0,36 months,12.69%,402.54,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1064687,1298717.0,9000.0,9000.0,9000.0,36 months,13.49%,305.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1069866,1304956.0,3000.0,3000.0,3000.0,36 months,9.91%,96.68,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1069057,1303503.0,10000.0,10000.0,10000.0,36 months,10.65%,325.74,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1069759,1304871.0,1000.0,1000.0,1000.0,36 months,16.29%,35.31,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1065775,1299699.0,10000.0,10000.0,10000.0,36 months,15.27%,347.98,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1069971,1304884.0,3600.0,3600.0,3600.0,36 months,6.03%,109.57,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1062474,1294539.0,6000.0,6000.0,6000.0,36 months,11.71%,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1069742,1304855.0,9200.0,9200.0,9200.0,36 months,6.03%,280.01,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1039153,1269083.0,21000.0,21000.0,21000.0,36 months,12.42%,701.73,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1069710,1304821.0,10000.0,10000.0,10000.0,36 months,11.71%,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1069700,1304810.0,10000.0,10000.0,10000.0,36 months,11.71%,330.76,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1069559,1304634.0,6000.0,6000.0,6000.0,36 months,11.71%,198.46,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1069697,1273773.0,15000.0,15000.0,15000.0,36 months,9.91%,483.38,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1069800,1304679.0,15000.0,15000.0,8725.0,36 months,14.27%,514.64,C,C2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1069799,1304678.0,4000.0,4000.0,4000.0,36 months,11.71%,132.31,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1047704,1278806.0,8500.0,8500.0,8500.0,36 months,11.71%,281.15,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1032111,1261745.0,4375.0,4375.0,4375.0,36 months,7.51%,136.11,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1069539,1304608.0,31825.0,31825.0,31825.0,36 months,7.90%,995.82,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1069591,1304289.0,5000.0,5000.0,5000.0,36 months,8.90%,158.77,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1069530,1291365.0,7000.0,7000.0,7000.0,36 months,15.96%,245.97,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1069522,1304589.0,12400.0,12400.0,12400.0,36 months,10.65%,403.91,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1069361,1304255.0,10800.0,10800.0,10800.0,36 months,9.91%,348.03,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1069357,1304251.0,15000.0,15000.0,15000.0,36 months,7.90%,469.36,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1069356,1304250.0,6000.0,6000.0,6000.0,36 months,12.42%,200.50,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619985,37187152,39959868.0,15000.0,15000.0,15000.0,36 months,12.39%,501.02,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,39000.0,NaN,NaN,NaN
619986,37297140,40039857.0,24625.0,24625.0,24625.0,36 months,14.31%,845.34,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,4000.0,NaN,NaN,NaN
619987,36351602,39083061.0,18275.0,18275.0,18275.0,36 months,20.99%,688.42,E,E4,...,NaN,NaN,NaN,NaN,NaN,NaN,17900.0,NaN,NaN,NaN
619988,36900303,39653039.0,1200.0,1200.0,1200.0,36 months,8.19%,37.71,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,1700.0,NaN,NaN,NaN
619989,36421722,39143147.0,20000.0,20000.0,20000.0,36 months,11.44%,658.95,B,B4,...,NaN,NaN,NaN,NaN,NaN,NaN,72400.0,NaN,NaN,NaN
619990,35034116,37717438.0,16000.0,16000.0,16000.0,36 months,8.19%,502.79,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,47300.0,NaN,NaN,NaN
619991,36870234,39622961.0,5000.0,5000.0,5000.0,36 months,13.66%,170.07,C,C3,...,NaN,NaN,NaN,NaN,NaN,NaN,1300.0,NaN,NaN,NaN
619992,37011266,39773999.0,28000.0,28000.0,28000.0,36 months,15.59%,978.74,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,43500.0,NaN,NaN,NaN
619993,36808246,39560970.0,6000.0,6000.0,6000.0,36 months,10.49%,194.99,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,43400.0,NaN,NaN,NaN
619994,36631385,39374138.0,13000.0,13000.0,13000.0,36 months,8.19%,408.52,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,7200.0,NaN,NaN,NaN
619995,36691397,39434133.0,20000.0,20000.0,20000.0,36 months,6.99%,617.46,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,39700.0,NaN,NaN,NaN
619996,36743377,39486112.0,4200.0,4200.0,4200.0,36 months,15.99%,147.64,D,D2,...,NaN,NaN,NaN,NaN,NaN,NaN,20400.0,NaN,NaN,NaN
619997,36231083,38942474.0,15000.0,15000.0,15000.0,36 months,11.99%,498.15,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,9700.0,NaN,NaN,NaN
619998,36250801,38962184.0,6000.0,6000.0,6000.0,36 months,17.86%,216.50,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,8500.0,NaN,NaN,NaN
619999,36331554,39042967.0,26950.0,26950.0,26950.0,36 months,8.19%,846.88,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,129100.0,NaN,NaN,NaN
620000,36201871,38913321.0,21000.0,21000.0,21000.0,36 months,6.03%,639.15,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,76300.0,NaN,NaN,NaN
620001,36381756,39013193.0,8000.0,8000.0,8000.0,36 months,8.19%,251.40,A,A5,...,NaN,NaN,NaN,NaN,NaN,NaN,7300.0,NaN,NaN,NaN
620002,36231724,38943173.0,12000.0,12000.0,12000.0,36 months,9.49%,384.34,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,11900.0,NaN,NaN,NaN
620003,36231718,38943165.0,10775.0,10775.0,10775.0,36 months,6.03%,327.95,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN
620004,36381704,39013139.0,7000.0,7000.0,7000.0,36 months,14.31%,240.30,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,9900.0,NaN,NaN,NaN
620005,36241316,38952731.0,6225.0,6225.0,6225.0,36 months,16.49%,220.37,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,1800.0,NaN,NaN,NaN
620006,36301729,39023153.0,10000.0,10000.0,10000.0,36 months,6.49%,306.45,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN
620007,36421485,39142898.0,4000.0,4000.0,4000.0,36 months,8.67%,126.59,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,30100.0,NaN,NaN,NaN
620008,35094480,37777829.0,7500.0,7500.0,7500.0,36 months,9.49%,240.22,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,14500.0,NaN,NaN,NaN
620009,36260758,38972123.0,10850.0,10850.0,10850.0,36 months,19.24%,399.04,E,E2,...,NaN,NaN,NaN,NaN,NaN,NaN,16800.0,NaN,NaN,NaN
620010,36330911,39042282.0,12000.0,12000.0,12000.0,36 months,11.99%,398.52,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,30300.0,NaN,NaN,NaN
620011,36221446,38932858.0,11575.0,11575.0,11575.0,36 months,15.59%,404.61,D,D1,...,NaN,NaN,NaN,NaN,NaN,NaN,28100.0,NaN,NaN,NaN
620012,36371250,39102635.0,10000.0,10000.0,10000.0,36 months,11.99%,332.10,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,17100.0,NaN,NaN,NaN
620013,36441262,39152692.0,24000.0,24000.0,24000.0,36 months,11.99%,797.03,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,10200.0,NaN,NaN,NaN
620014,36271262,38982659.0,20000.0,20000.0,20000.0,36 months,11.99%,664.20,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,41700.0,NaN,NaN,NaN

In [4]:
data.columns.values

array(['index', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'], dtype=object)

In [5]:
feat_raw=pd.DataFrame
memberinfo=['id','loan_amnt','installment','emp_title', 'emp_length', 'home_ownership',
       'annual_inc','loan_status','purpose',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc','total_rec_prncp','total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d','collections_12_mths_ex_med', 'mths_since_last_major_derog']
feat_raw=data[memberinfo]

In [6]:
feat_raw.term=data.term.str.replace(' months','')
feat_raw.term=feat_raw.term.apply(pd.to_numeric)
feat_raw.int_rate=data.int_rate.str.replace('%','')
feat_raw.int_rate=feat_raw.int_rate.apply(pd.to_numeric)

In [7]:
feat_raw.addr_state

0         AZ
1         IL
2         CA
3         AZ
4         CA
5         CA
6         VA
7         IL
8         CA
9         MO
10        CA
11        CT
12        UT
13        CA
14        FL
15        TX
16        CA
17        CA
18        IL
19        NY
20        FL
21        MN
22        NY
23        NJ
24        OR
25        CA
26        KY
27        CA
28        OH
29        AZ
          ..
619985    GA
619986    NY
619987    NM
619988    IL
619989    CA
619990    TX
619991    VT
619992    NY
619993    MD
619994    PA
619995    FL
619996    CO
619997    MD
619998    GA
619999    UT
620000    MA
620001    NM
620002    NV
620003    FL
620004    IN
620005    FL
620006    FL
620007    CA
620008    WI
620009    OH
620010    OH
620011    TX
620012    CA
620013    NJ
620014    FL
Name: addr_state, dtype: object

In [8]:
data[['total_rec_prncp','loan_status']]

        total_rec_prncp         loan_status
0               5000.00          Fully Paid
1               2400.00          Fully Paid
2              10000.00          Fully Paid
3               5000.00          Fully Paid
4               3000.00          Fully Paid
5              12000.00          Fully Paid
6               1256.14         Charged Off
7               3000.00          Fully Paid
8               5433.47         Charged Off
9               1000.00          Fully Paid
10             10000.00          Fully Paid
11              3600.00          Fully Paid
12              6000.00          Fully Paid
13              9200.00          Fully Paid
14             10694.96         Charged Off
15             10000.00          Fully Paid
16             10000.00          Fully Paid
17              1305.58         Charged Off
18             15000.00          Fully Paid
19                 0.00         Charged Off
20              4000.00          Fully Paid
21              8500.00          Fully Paid
22              4375.00          Fully Paid
23             31825.00          Fully Paid
24              5000.00          Fully Paid
25              7000.00          Fully Paid
26             12400.00          Fully Paid
27             10800.00          Fully Paid
28             15000.00          Fully Paid
29              6000.00          Fully Paid
...                 ...                 ...
619985         15000.00          Fully Paid
619986          7072.18             Current
619987          4876.66             Current
619988           367.84             Current
619989          5923.61             Current
619990          4904.47             Current
619991          1446.16             Current
619992          5831.27  Late (31-120 days)
619993          6000.00          Fully Paid
619994          3984.92             Current
619995          6207.90             Current
619996           667.96         Charged Off
619997          4416.79             Current
619998          1657.76             Current
619999          8260.88             Current
620000          6583.47             Current
620001          2452.30             Current
620002          3946.54             Current
620003         10775.00          Fully Paid
620004          2010.37             Current
620005          6225.00          Fully Paid
620006          3120.13             Current
620007          4000.00          Fully Paid
620008          2267.85             Current
620009          1405.77         Charged Off
620010          3533.44             Current
620011          3278.48             Current
620012          2944.53             Current
620013          7066.74             Current
620014          5889.06             Current

[620015 rows x 2 columns]

In [9]:
((data.total_rec_prncp+data.total_rec_int+data.total_rec_late_fee)-data.loan_amnt)/data.loan_amnt

0         0.172214
1         0.251521
2         0.222630
3         0.126276
4         0.312713
5         0.161923
6        -0.797067
7         0.159660
8        -0.317311
9         0.270170
10        0.251926
11        0.051394
12        0.194083
13        0.028257
14       -0.332124
15        0.190256
16        0.153631
17       -0.703195
18        0.054899
19       -1.000000
20        0.121197
21        0.190848
22        0.119666
23        0.096185
24        0.142918
25        0.264134
26        0.172376
27        0.125667
28        0.110840
29        0.187547
            ...
619985    0.078031
619986   -0.589648
619987   -0.550292
619988   -0.623808
619989   -0.605901
619990   -0.623818
619991   -0.593350
619992   -0.687137
619993    0.077563
619994   -0.623815
619995   -0.630301
619996   -0.755710
619997   -0.602812
619998   -0.568985
619999   -0.623820
620000   -0.635441
620001   -0.623810
620002   -0.587754
620003    0.027552
620004   -0.588737
620005    0.132604
620006   -0.632981
620007    0.039505
620008   -0.616703
620009   -0.779166
620010   -0.602812
620011   -0.579842
620012   -0.602812
620013   -0.602817
620014   -0.602812
dtype: float64

In [10]:
data.loc[[174036],['loan_amnt','total_rec_prncp','total_rec_int','total_rec_late_fee','installment','term']]

,loan_amnt,total_rec_prncp,total_rec_int,total_rec_late_fee,installment,term
174036,7050.0,7050.0,261.38,0.0,220.6,36 months

In [11]:
data[['last_pymnt_d','issue_d']].head()

  last_pymnt_d   issue_d
0     Jan-2015  Dec-2011
1     Jun-2014  Dec-2011
2     Jan-2015  Dec-2011
3     Jan-2015  Dec-2011
4     Jan-2015  Dec-2011

In [12]:
feat_raw.loc[[174036],['balance','loan_amnt','total_rec_prncp','last_pymnt_d']]

        balance  loan_amnt  total_rec_prncp last_pymnt_d
174036      NaN     7050.0           7050.0     Jul-2012

Convert dates to date time, and then get a difference to calculate number of payments made so far

In [13]:
feat_raw['last_pymnt_d']=pd.to_datetime(data.last_pymnt_d, format='%b-%Y')
feat_raw['issue_d']=pd.to_datetime(data.issue_d, format='%b-%Y')

/Users/devinmccormack/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/devinmccormack/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [15]:
feat_raw['num_pymnts']=round((feat_raw.last_pymnt_d-feat_raw.issue_d)/ np.timedelta64(1, 'M'))

/Users/devinmccormack/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [16]:
feat_raw['pymnts_left']=(feat_raw.term-feat_raw.num_pymnts).fillna(0)

/Users/devinmccormack/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [23]:
feat_raw['current']=feat_raw.loan_status.str.match('Current')

/Users/devinmccormack/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

## Developed metric to optimize

We want to maximize the total money gained vs the loan amount, but we do not want to penalize loans still current and in the process of payment. We sum the total money paid, and divide by the total loan amount prorated for length. Most recent loans started January 2015, and the latest payment is January 2016.

For fully paid, late, and charged off loans, the equation takes the total amount paid to date, and divides it by the initial investment amount. This unfairly penalizes loans that were late during the data dump, but I'm okay with that as late loans are intuitively riskier than current loans that have been brought up to current. This is a potential assumption to probe at some point, however I think the overwhelming number of current, fully paid, and charged off loans will make this unimportant.

For current loans, I approximate the principle return as the investment amount uniformly distributed over the total loan length. Amortization is not linear (more interest is paid up front) but effectively

In [28]:
feat_raw['balance1']=(data.total_rec_prncp+data.total_rec_int+data.total_rec_late_fee)/((feat_raw.loan_amnt/feat_raw.term)*(feat_raw.current*(feat_raw.term-feat_raw.pymnts_left)+(1-feat_raw.current)*feat_raw.term))

/Users/devinmccormack/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [29]:
feat_raw['balance2']=(data.total_rec_prncp+data.total_rec_int+data.total_rec_late_fee)/(feat_raw.loan_amnt)

/Users/devinmccormack/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [30]:
feat_raw[['balance1','balance2','pymnts_left','loan_status','total_rec_prncp','total_rec_int','total_rec_late_fee']]

,balance1,balance2,pymnts_left,loan_status,total_rec_prncp,total_rec_int,total_rec_late_fee
0,1.172214,1.172214,-1.0,Fully Paid,5000.00,861.07,0.00
1,1.251521,1.251521,6.0,Fully Paid,2400.00,603.65,0.00
2,1.222630,1.222630,-1.0,Fully Paid,10000.00,2209.33,16.97
3,1.126276,1.126276,-1.0,Fully Paid,5000.00,631.38,0.00
4,1.312713,1.312713,-1.0,Fully Paid,3000.00,938.14,0.00
5,1.161923,1.161923,15.0,Fully Paid,12000.00,1943.08,0.00
6,0.202933,0.202933,29.0,Charged Off,1256.14,570.26,0.00
7,1.159660,1.159660,-1.0,Fully Paid,3000.00,478.98,0.00
8,0.682689,0.682689,14.0,Charged Off,5433.47,1393.42,0.00
9,1.270170,1.270170,-1.0,Fully Paid,1000.00,270.17,0.00
10,1.251926,1.251926,-1.0,Fully Paid,10000.00,2519.26,0.00
11,1.051394,1.051394,19.0,Fully Paid,3600.00,185.02,0.00
12,1.194083,1.194083,-2.0,Fully Paid,6000.00,1149.50,15.00
13,1.028257,1.028257,29.0,Fully Paid,9200.00,259.96,0.00
14,0.667876,0.667876,15.0,Charged Off,10694.96,3330.44,0.00
15,1.190256,1.190256,-1.0,Fully Paid,10000.00,1902.56,0.00
16,1.153631,1.153631,14.0,Fully Paid,10000.00,1536.31,0.00
17,0.296805,0.296805,26.0,Charged Off,1305.58,475.25,0.00
18,1.054899,1.054899,27.0,Fully Paid,15000.00,823.48,0.00
19,0.000000,0.000000,0.0,Charged Off,0.00,0.00,0.00
20,1.121198,1.121198,20.0,Fully Paid,4000.00,484.79,0.00
21,1.190848,1.190848,0.0,Fully Paid,8500.00,1622.21,0.00
22,1.119666,1.119666,-1.0,Fully Paid,4375.00,523.54,0.00
23,1.096185,1.096185,16.0,Fully Paid,31825.00,3061.08,0.00
24,1.142918,1.142918,-1.0,Fully Paid,5000.00,714.59,0.00
25,1.264134,1.264134,-1.0,Fully Paid,7000.00,1848.94,0.00
26,1.172376,1.172376,-1.0,Fully Paid,12400.00,2137.46,0.00
27,1.125667,1.125667,13.0,Fully Paid,10800.00,1357.20,0.00
28,1.110840,1.110840,11.0,Fully Paid,15000.00,1662.60,0.00
29,1.187547,1.187547,8.0,Fully Paid,6000.00,1125.28,0.00
...,...,...,...,...,...,...,...
619985,1.078031,1.078031,28.0,Fully Paid,15000.00,1170.46,0.00
619986,1.231057,0.410352,24.0,Current,7072.18,3032.75,0.00
619987,1.349125,0.449708,24.0,Current,4876.66,3341.76,0.00
619988,1.128575,0.376192,24.0,Current,367.84,83.59,0.00
619989,1.182297,0.394099,24.0,Current,5923.61,1958.37,0.00
619990,1.128547,0.376183,24.0,Current,4904.47,1114.45,0.00
619991,1.219950,0.406650,24.0,Current,1446.16,587.09,0.00
619992,0.312863,0.312863,27.0,Late (31-120 days),5831.27,2928.89,0.00
619993,1.077563,1.077563,26.0,Fully Paid,6000.00,465.38,0.00
619994,1.128556,0.376185,24.0,Current,3984.92,905.49,0.00
619995,1.109098,0.369700,24.0,Current,6207.90,1186.09,0.00
619996,0.244290,0.244290,29.0,Charged Off,667.96,358.06,0.00
619997,1.191564,0.397188,24.0,Current,4416.79,1541.03,0.00
619998,1.293045,0.431015,24.0,Current,1657.76,928.33,0.00
619999,1.128539,0.376180,24.0,Current,8260.88,1877.16,0.00
620000,1.093676,0.364559,24.0,Current,6583.47,1072.26,0.00
620001,1.128570,0.376190,24.0,Current,2452.30,557.22,0.00
620002,1.236738,0.412246,24.0,Current,3946.54,1000.41,0.00
620003,1.027552,1.027552,30.0,Fully Paid,10775.00,296.87,0.00
620004,1.233789,0.411263,24.0,Current,2010.37,868.47,0.00
620005,1.132604,1.132604,25.0,Fully Paid,6225.00,825.46,0.00
620006,1.101057,0.367019,24.0,Current,3120.13,550.06,0.00
620007,1.039505,1.039505,31.0,Fully Paid,4000.00,158.02,0.00
620008,1.149892,0.383297,24.0,Current,2267.85,606.88,0.00
620009,0.220834,0.220834,29.0,Charged Off,1405.77,990.28,0.00
620010,1.191563,0.397188,24.0,Current,3533.44,1232.81,0.00
620011,1.260474,0.420158,24.0,Current,3278.48,1584.85,0.00
620012,1.191564,0.397188,24.0,Current,2944.53,1027.35,0.00
620013,1.191549,0.397183,24.0,Current,7066.74,2465.65,0.00
620014,1.191564,0.397188,24.0,Current,5889.06,2054.70,0.00

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

plt.scatter(feat_raw.balance,feat_raw.int_rate)
plt.show()

In [ ]:
data.loc[[12],['total_rec_prncp','total_rec_int','total_rec_late_fee','loan_status','last_pymnt_d','issue_d']]

In [ ]:
feat_raw.loc[[12],['last_pymnt_d','issue_d']]

In [ ]:
data.loc[:,'issue_d']